In [1]:
import pandas as pd

In [2]:
import h5py

# open the HDF5 file
with h5py.File('./../data/train_data_transformed.h5', 'r') as file:
    # list all groups and datasets in the file
    def printname(name):
        print(name)
    file.visit(printname)

train_transformed

In [3]:
# open the HDF5 file
with h5py.File('./../data/train_data_transformed.h5', 'r') as file:
    data = file['train_transformed']  # access the dataset
    print(data)  
    print(type(data))  # check the type to confirm it's a dataset
    print(data.shape)  # check the shape of the dataset
    print(data.dtype)  # check the data type

<HDF5 dataset "train_transformed": shape (10091520, 481), type "<f4">
<class 'h5py._hl.dataset.Dataset'>
(10091520, 481)
float32

In [4]:
# use the key to specify the dataset
data_key = 'train_transformed'

In [5]:
%%time
# load the data
with h5py.File('./../data/train_data_transformed.h5', 'r') as file:
    # extract the dataset as a NumPy array
    dataset = file['train_transformed']
    data_array = file['train_transformed'][:]
    column_names = dataset.attrs.get('column_names')

# convert the array to a DataFrame
df = pd.DataFrame(data_array, columns=column_names)
df.head()

CPU times: user 1min 5s, sys: 11.2 s, total: 1min 17s
Wall time: 1min 17s

,0,1,2,3,4,5,6,7,8,9,...,471,472,473,474,475,476,477,478,479,480
0,3.100847,0.120737,-0.332021,-2.062341,7.482128,6.205606,-0.571714,-0.844317,-2.290483,5.072969,...,0.310571,0.081610,-0.005624,0.003012,-0.59507,-0.578185,-0.560465,-0.720921,-0.022763,-0.641697
1,0.049516,2.180426,1.700548,-0.096528,6.233084,7.423556,-0.936905,-0.417661,-4.380339,5.274072,...,0.257101,0.027833,-0.110940,0.003146,-0.59507,-0.578185,-0.560465,-0.720921,-0.222118,-0.641697
2,9.933019,-6.011798,-1.997918,-3.275822,5.997626,1.363130,-4.791981,-2.186779,2.547581,4.064919,...,0.410431,-0.187801,-0.285782,0.009746,-0.59507,-0.578185,-0.560465,-0.720921,0.701136,-0.641697
3,8.225420,-2.866557,-0.530229,-1.399935,4.941807,3.462048,-3.582139,-2.693943,2.699741,5.688724,...,0.149921,-0.240203,0.221009,0.012081,-0.59507,-0.578185,-0.560465,-0.720921,0.680602,-0.641697
4,-0.745669,1.987860,2.419862,0.817433,-1.505202,7.128172,-3.055474,-0.217648,-3.918386,5.464846,...,0.108367,-0.079432,-0.011268,0.010521,-0.59507,-0.578185,-0.560465,-0.720921,-0.405971,-0.641697

That's interesting, but it seems like we've lost the column headers, which I 
suspect is a problem

In [8]:
df.describe()

,0,1,2,3,4,5,6,7,8,9,...,471,472,473,474,475,476,477,478,479,480
count,1.009152e+07,1.009152e+07,1.009152e+07,1.009152e+07,1.009152e+07,1.009152e+07,1.009152e+07,1.009152e+07,1.009152e+07,1.009152e+07,...,1.009152e+07,1.009152e+07,1.009152e+07,1.009152e+07,1.009152e+07,1.009152e+07,1.009152e+07,1.009152e+07,1.009152e+07,1.009152e+07
mean,-1.599464e-01,-6.428796e-02,-6.450656e-01,4.096751e-01,6.009035e-02,-5.830080e-01,-2.599017e-01,-1.068785e+00,-9.891600e-01,1.663800e+00,...,5.443055e-04,6.177823e-05,-1.403744e-05,3.721362e-02,7.469481e-10,1.509735e-08,-3.311256e-08,-1.047542e-08,1.025164e-08,-1.653870e-08
std,1.177264e+01,6.034733e+00,5.504430e+00,5.333076e+00,4.904491e+00,4.212033e+00,3.871500e+00,3.159599e+00,3.250905e+00,2.568570e+00,...,2.470289e-01,2.417534e-01,2.388967e-01,3.747575e-01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
min,-3.641860e+01,-3.013917e+01,-1.699614e+01,-3.893130e+01,-3.346001e+01,-4.050544e+01,-1.811329e+01,-2.497199e+01,-3.691061e+01,-2.612079e+01,...,-3.053049e+01,-5.911199e+00,-3.010379e+01,-8.539417e+01,-5.950695e-01,-5.781852e-01,-5.604648e-01,-7.209211e-01,-4.081244e+00,-6.416967e-01
25%,-8.623863e+00,-3.661963e+00,-4.713184e+00,-3.379118e+00,-2.551991e+00,-2.790002e+00,-2.809764e+00,-2.798735e+00,-2.945890e+00,4.501112e-01,...,-1.468161e-01,-8.987526e-02,-7.890537e-02,1.135283e-02,-5.950695e-01,-5.781852e-01,-5.604648e-01,-7.209211e-01,-5.562745e-01,-6.416967e-01
50%,2.304722e+00,-3.166117e-01,-8.081181e-01,-1.479354e-01,5.374435e-02,-6.118886e-01,-3.119376e-01,-1.035984e+00,-1.113463e+00,1.945152e+00,...,3.256565e-03,3.384316e-04,3.814858e-04,2.002612e-02,-5.703239e-01,-5.781852e-01,-5.604648e-01,-7.017298e-01,1.756258e-01,-6.416315e-01
75%,9.868479e+00,3.967592e+00,3.226689e+00,3.581689e+00,2.665259e+00,1.572298e+00,2.195910e+00,7.829940e-01,8.199345e-01,3.178984e+00,...,1.511168e-01,8.965787e-02,7.994033e-02,3.191151e-02,2.346636e-01,2.108569e-01,1.405934e-01,5.230846e-01,8.110224e-01,3.614153e-01
max,2.874353e+01,2.171951e+01,3.251307e+01,5.251912e+01,3.392372e+01,1.791016e+01,2.635598e+01,1.003356e+02,2.129880e+01,1.059674e+02,...,4.595748e+01,1.316923e+01,7.701416e+00,3.365194e+01,8.521581e+00,4.363209e+00,4.146257e+00,8.436013e+00,2.455719e+00,3.844364e+00

In [7]:
# %%time
# df = pd.read_hdf('./../data/train_data_transformed.h5', key=data_key)
# df.head()