In [1]:
import pandas as pd

In [2]:
# Specify the path to your CSV file
csv_file_path = './../data/train.csv'

# how much memory per row?

In [3]:
sample_data = pd.read_csv(csv_file_path, nrows=1000)

# Check memory usage
memory_per_row = sample_data.memory_usage(deep=True).sum() / 1000
print(f"Estimated memory per row: {memory_per_row} bytes")

Estimated memory per row: 7450.022 bytes

In [4]:
sample_data.head()

,sample_id,state_t_0,state_t_1,state_t_2,state_t_3,state_t_4,state_t_5,state_t_6,state_t_7,state_t_8,...,ptend_v_58,ptend_v_59,cam_out_NETSW,cam_out_FLWDS,cam_out_PRECSC,cam_out_PRECC,cam_out_SOLS,cam_out_SOLL,cam_out_SOLSD,cam_out_SOLLD
0,train_0,213.806117,222.244454,229.259879,245.743959,258.337482,265.772467,263.978456,254.879872,243.946147,...,-6.132147e-07,1.401824e-06,0.0,349.564325,0.0,2.947672e-12,0.0,0.0,0.0,0.0
1,train_1,213.177430,225.851064,229.663618,246.828333,261.026415,269.078431,267.736565,256.896227,244.169421,...,3.560950e-07,9.984912e-07,0.0,335.204086,0.0,3.138366e-09,0.0,0.0,0.0,0.0
2,train_2,217.105685,220.448106,234.653398,244.422951,254.023818,259.651472,257.709514,251.064513,241.879600,...,1.565672e-06,6.186607e-05,0.0,401.709340,0.0,7.424215e-09,0.0,0.0,0.0,0.0
3,train_3,217.773994,225.611775,234.104091,247.745365,257.411402,263.470947,261.131775,253.303250,242.316814,...,-9.067304e-06,1.020519e-05,0.0,400.230177,0.0,2.534090e-08,0.0,0.0,0.0,0.0
4,train_4,216.349337,230.526083,233.650252,248.196013,262.500730,270.055663,268.863606,258.161645,244.442620,...,1.681596e-06,-6.378779e-06,0.0,321.960470,0.0,3.377415e-10,0.0,0.0,0.0,0.0

# how many rows are there?

In [5]:
# initialize row count
total_rows = 0

# process in chunks
chunksize = 1000000  # adjust chunksize according to your memory capacity
for chunk in pd.read_csv(csv_file_path, chunksize=chunksize):
    total_rows += len(chunk)

# print the total number of rows
print(f"Total number of rows: {total_rows}")

Total number of rows: 10091520

In [ ]:
%%time
df = pd.read_csv('./../data/train.csv')
df.head()

In [ ]:
# chunksize = 50000

In [ ]:
# columns_to_drop = ['pbuf_N2O_46', 'pbuf_N2O_28', 'pbuf_CH4_45', 'pbuf_CH4_48', 
#                    'pbuf_CH4_54', 'pbuf_CH4_43', 'pbuf_N2O_43', 'pbuf_CH4_38', 
#                    'pbuf_CH4_47', 'pbuf_N2O_42', 'pbuf_CH4_29', 'pbuf_CH4_58', 
#                    'pbuf_CH4_34', 'pbuf_N2O_40', 'pbuf_CH4_41', 'pbuf_CH4_57', 
#                    'pbuf_N2O_44', 'pbuf_CH4_37', 'pbuf_N2O_50', 'pbuf_CH4_56', 
#                    'pbuf_N2O_48', 'pbuf_N2O_27', 'pbuf_N2O_58', 'pbuf_N2O_38', 
#                    'pbuf_N2O_36', 'pbuf_N2O_37', 'pbuf_CH4_39', 'pbuf_CH4_35', 
#                    'pbuf_N2O_55', 'pbuf_CH4_33', 'pbuf_CH4_52', 'pbuf_N2O_31', 
#                    'pbuf_N2O_56', 'pbuf_CH4_27', 'pbuf_CH4_30', 'pbuf_CH4_31', 
#                    'pbuf_N2O_51', 'pbuf_N2O_52', 'pbuf_N2O_41', 'pbuf_N2O_53', 
#                    'pbuf_CH4_44', 'pbuf_CH4_50', 'pbuf_CH4_32', 'pbuf_CH4_53', 
#                    'pbuf_N2O_29', 'pbuf_CH4_36', 'pbuf_CH4_42', 'pbuf_CH4_55', 
#                    'pbuf_N2O_59', 'pbuf_N2O_32', 'pbuf_CH4_51', 'pbuf_N2O_47', 
#                    'pbuf_N2O_49', 'pbuf_N2O_30', 'pbuf_N2O_35', 'pbuf_N2O_33', 
#                    'pbuf_CH4_40', 'pbuf_CH4_49', 'pbuf_CH4_28', 'pbuf_N2O_34', 
#                    'pbuf_CH4_59', 'pbuf_N2O_57', 'pbuf_N2O_39', 'pbuf_N2O_45', 
#                    'pbuf_N2O_54', 'pbuf_CH4_46']

In [ ]:
# reading the dataset in chunks
# for chunk in pd.read_csv(csv_file_path, chunksize=chunksize):
#     drop columns with only one unique value
    # chunk.drop(columns=columns_to_drop, inplace=True)
    # 
    # Convert data types to reduce memory usage
    # float_cols = chunk.select_dtypes(include=['float64']).columns
    # chunk[float_cols] = chunk[float_cols].astype('float16')
    
    # Assuming the target column is 'target' and should be float32
    # if 'target' in chunk.columns:
    #     chunk['target'] = chunk['target'].astype('float32')
    
    # Save each chunk as a Parquet file
    # chunk.to_parquet(f'./../data/{chunk.index.start}.parquet')